body {
  background-color: #FE938C;
  color: white;
  font-family: monospace;
  font-size: 35px;
  margin: 30px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: white;
}
ul {
  list-style: none;
}
button {
  font-family: monospace;
  font-size: 30px;
  background-color: white;
  float: center;
}
h1 {
  text-align: center;
}
.picture {
  border: 1px solid #FF0000;
  position: relative;
}
.container {
  height: 200px;
  position: relative;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
