body {
  background-color: LightSteelBlue;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
.subtitle {
  text-align: center;
  font-size: 19px;
}
.container {
  width: 800px;
  margin: 100px auto;
}
p {
  font-size: 18px
}
ul {
  font-size: 18px;
}
