body {
  background-color: darkorange;
  color: white;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}
h1 {
  padding: 150px 100px 0;
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 150px 100px 0;
  line-height: 65px;
}
a {
  color: black;
  transition: color 1s ease;
}
a:hover {
  color: rgb(35, 61, 122);
}
